<div class="main-page">
    <h1>
      Welcome to fletNix!
    </h1>
    <p>Use the provided credentials to login without creating a user.</p>
    <div class="button-container">
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
    >
      Login
    </button>
    </div>
  </div>
