
.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    p {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.button-container{
    flex-direction: row;
}