.profile-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    padding-bottom: 2%
}
.profile-page__title{
    font-size: 23;
    margin: 15px 0 30px
}
.profile-form{
    display: flex;
    flex-direction: column;
}
.favorite-movies{
    margin: 2% 5%;
}

.movie-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.movie-card{
    padding: 20px;
}

#no-movies{
    font-size: 20px;
    font-weight: 600;
}

#delete-btn{
    margin-left: 10px;
}